---
import {getCollection, render} from 'astro:content';
import Layout from '../layouts/IndexLayout.astro';
import Hero from "../components/Hero.astro";
import Partners from "../components/Partners.astro";
import CurrentPosts from "../components/CurrentPosts.astro";
import Toolchain from "../components/Toolchain.astro";
import AboutPartners from "../components/AboutPartners.astro";
---

<Layout>
    <main>
        <Hero/>
        <Partners/>
        <Toolchain/>
        <AboutPartners/>
        <CurrentPosts/>
    </main>
</Layout>
