---
import { Image } from 'astro:assets';
import {GitHubLink, SiteDescription, SiteTitle, dfg} from "../consts";
---

<footer>
	<p>© 2025, {SiteTitle} &mdash; {SiteDescription}</p>
	<Image src={dfg.srcDark} class="w-48 rounded-md" alt="Funded by the Deutsche Forschungsgemeinschaft"/>
	<div class="footer_links">
		<a href={GitHubLink}>GitHub</a>
		<a href="/legal">Imprint/GDPR</a>
		<a href="/contact">Contact</a>
	</div>
</footer>
