---
import {GitHubLink, SiteDescription, SiteTitle} from "../consts";
---

<footer>
	<p>© 2025, {SiteTitle} &mdash; {SiteDescription}</p>
	<div class="footer_links">
		<a href={GitHubLink}>GitHub</a>
	</div>
</footer>
