---
import {GitHubLink, SiteDescription, SiteTitle} from '../consts';
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
				<Image src={logo} alt={SiteTitle} width="100" />
				{SiteDescription}
			</a>
		</h2>
		<div class="links">
			<a href={GitHubLink}>GitHub</a>
			<a href="/events">Events</a>
			<a href="/publications">Publikationen</a>
			<a href="/team">Team</a>
			<a href="/contact">Kontakt</a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
