---
import "../styles/tailwind.css";
import "../styles/global.scss";

import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = {
	blogpost: CollectionEntry<'blog'>;
};

const { blogpost } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={blogpost.data.title}
			description={blogpost.data.description}
			image={blogpost.data.image}
		/>
	</head>
	<body class="dark:bg-gray-900">
		<div class="glow"></div>
		<Header />
		<div class="post single max-w-7xl mx-auto" transition:persist transition:name="post">
			<div class="version_wrapper">
				<div class="version_info">
					<FormattedDate class="date" date={blogpost.data.date} />
				</div>
			</div>
			<div class="content">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
